/* test1 */
/* .cont{
    .top{
        color:#ff9302;
        .logo{
            display:inline-block;
            width:200px;
            height:200px;
            background-image:url("../img/ico-header-logo.png");
            background-size:contain;
        }
    }
    .buttom{
        color:#f00000;
    }
} */
.index{
    color:brown;
}
